html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header{
  display: grid;
  grid-template-columns:15% 60% 25%;
  background-color:rgb(211,58,44);
  /* height: 116px; */
}

.logo{
  width: 100%;
  height: 3.5em;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-container li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  font-family:Mija;
  font-feature-settings:"onum";
  font-size:17.1505px;
  font-weight:700;
}

.search-container input{
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(51, 51, 51);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-color: rgb(51, 51, 51);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-width: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: text;
  display: block;
  font-family: Mija;
  font-feature-settings: "onum";
  font-size: 19px;
  font-weight: 700;
  height: 34.4688px;
  padding-bottom: 16px;
  padding-left: 64.6748px;
  padding-right: 21.3374px;
  padding-top: 16px;
  text-align: start;
  width: 415px;
}

.img-container, .search-container{
  margin-top: 25px;
}

.nav-container{
  margin-top: 33px;
}